<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CODEUP</title>
</head>
<body>
<h1>Herro</h1>
<div th:each="codeup : ${allCodeup}">
    <p th:text="${codeup.getName()}" />
    <p th:text="${codeup.getCohort()}" />
    <p th:text="${codeup.getBody()}" />
</div>

<!--<form action="/codeup/create" method="post">-->
<!--    Title:-->
<!--    <input name="title" />-->
<!--    <br />-->
<!--    Description:-->
<!--    <input name="cohort" />-->
<!--    <br />-->
<!--    <input type="submit" />-->
<!--</form>-->

<!--<form th:action="@{/codeup/create}" th:method="post" th:object="${codeup/create}">-->
<!--    Title:-->
<!--    <input th:field="*{name}" />-->
<!--    <br />-->
<!--    Description:-->
<!--    <input th:field="*{cohort}" />-->
<!--    <br />-->
<!--    <input type="submit" />-->
<!--</form>-->

</body>
</html>