<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll-Dice</title>
</head>
<body>
<h1>Guess a number:</h1>

<!--<form action="/roll-dice/{n}" method="post">-->
<!--    <input type="text" name="cohort" id="cohort-ip" class="field" />-->
<!--    <button>Join now</button>-->

<li><a th:href="@{roll-dice}">1</a></li>
<li><a th:href="@{roll-dice}">2</a></li>
<li><a th:href="@{roll-dice}">3</a></li>
<li><a th:href="@{roll-dice}">4</a></li>
<li><a th:href="@{roll-dice}">5</a></li>
<li><a th:href="@{roll-dice}">6</a></li>

<!--</form>-->
<!--<h1 th:text="${cohort}"></h1>-->


</body>
</html>